<% provide(:title, 'Change Password') %>


<div class="row">
  <%= render 'users/shared/user_side_menu' %>
  <div class="col-md-9">
    <h2 class="subheader">Update your password</h2>
    <%= form_for(@user, url: users_update_password_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, 'Password confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit 'Change Password', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>