<% provide(:title, 'Edit user') %>
<div class="row">
  <%= render 'users/shared/user_side_menu' %>
  <div class="col-md-9">
    <h2 class="subheader">Update your profile</h2>
    <%= form_for(@user, url: users_update_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>

        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>


        <%= f.submit 'Update Profile', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>